<% provide(:title, 'Users') %>

<div class="container">

  <h2>Find your friends</h2>

  <%= will_paginate %>

  <ul class="search">
  	<%= render "search" %>
  </ul>
  <br><br>
  <div class="container"
  	<ul class="users">
  		<%= render @users %>
  	</ul>
  </div>

  <%= will_paginate %>

</div>
